@page "/"

<PageTitle>Home</PageTitle>

<h1>SpawnDev.BlazorJS.MultiView</h1>

<div>
    <p>Welcome to the SpawnDev.BlazorJS.MultiView demo application!</p>

    <p>
        Thanks to machine learning, depth estimation has improved in leaps and bounds in the past couple years.
        Because of this, we can now convert 2D content to 3D content incredibly fast and cheap compared to how it was done even a few years ago.
        This library's primary goal is to aid the conversion of 2D+Z content created by monocular depth estimation models, like Depth Anything V2, into various 3D formats.
    </p>

    <p>This application demonstrates how to use the <strong>SpawnDev.BlazorJS.MultiView</strong> library to render 2D+Z in various 3D viewing formats.</p>
    <p>Use the navigation menu to explore different views.</p>
</div>

